<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
                <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
                        <style>
                            body {font-family: "Lato", sans-serif}
                            .mySlides {display: none}
                            </style>
        <script>
            function TotalItem(qty,ud,total,value){
                qty=document.getElementById(qty);
                ud>0?qty.value++:qty.value--;
                qty.value=Math.max(qty.value,0);
                document.getElementById(total).value=qty.value*value;
            }
        
         function Total(total,total1,total2,total3,total4,total5,total6){
           total1=document.getElementById(total1);
            total2=document.getElementById(total2);
           total3=document.getElementById(total3);
            total4=document.getElementById(total4);
            total5=document.getElementById(total5);
            total6=document.getElementById(total6);
            total1.value=Math.max(total1.value,0);
            total2.value=Math.max(total2.value,0);
            total3.value=Math.max(total3.value,0);
            total4.value=Math.max(total4.value,0);
            total5.value=Math.max(total5.value,0);
            total6.value=Math.max(total6.value,0);

            document.getElementById(total).value=total1.value+total2.value+total3.value+total4.value+total5.value+total6.value;
       }
        

        </script>
        
        
         <script type="text/javascript">
             function findTotal(){
                 var arr = document.getElementsByName('total');
                 var tot=0;
                 for(var i=0;i<arr.length;i++){
                     if(parseInt(arr[i].value))
                     tot += parseInt(arr[i].value);
                 }
                 document.getElementById('totalsum').value = tot;
             }
         </script>
             
    </head>
    
    
   <div class="w3-container w3-black">
        <h1>Laudromat</h1>
   </div>
                    
    <body>
        
        <div class="w3-container w3-teal w3-half style="margin:46px; margin-top:46px" >
        
        <div class="slider-vertical"></div>
        <div id="purhcaseForm">
        
  


            {% for n in priceList %}


            <form id="purchase">
                <label class="w3-label w3-large w3-text-black"><b>"{{n}}"</b></label>
                <br> Item Price: ${{n}}
                <br> Please Select Quantity
                <input type='button' name='subtract' onclick='TotalItem("qty{{loop.index}}",-1,"total{{loop.index}}",{{n}}); findTotal();' value='-'/>
                <input type='button' name='add' onclick='TotalItem("qty{{loop.index}}",1,"total{{loop.index}}",{{n}}); findTotal();' value='+'/>
                <input type='text' name='qty' id='qty{{loop.index}}' readonly=true value="0"/>
                <input type='text'   name='total' id='total{{loop.index}}' value="0" />
                
            </form>

            {% endfor %}
            <br>
            
            <form id="purchase" class="w3-row">
            
                <label class="w3-label  w3-large w3-text-white"><b>Total</b></label>
                 <input class="w3-input w3-border " type="text" name="totalsum" id="totalsum">
           
                     <p class="w3-center ">
                      <button class="w3-btn w3-margin w3-light-grey w3-large w3-ripple"> Place order</button>
                       </p>
                      </form>
                    </div>
        </div>
        

        
        
        <div class="w3-half w3-container style="margin-top:306px">
       <div class="w3-topbar w3-border-orange w3-padding-top" style="margin-top:30px" >
           <img src="/static/images/restau01_mini.jpg" style="width:50%">
      <h2>Laundromat1</h2>
      <p>116th Broadway</p>
      <p>New York NY 10025</p>
   


        </div>
        
        
    </body>
</html>