<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
                <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
                        <style>
                            body {font-family: "Lato", sans-serif}
                            .mySlides {display: none}
                            </style>
        <script>
            function TotalItem(qty,ud,total,value){
                qty=document.getElementById(qty);
                ud>0?qty.value++:qty.value--;
                qty.value=Math.max(qty.value,0);
                document.getElementById(total).value=qty.value*value;
            }
        

        </script>
        
        
         <script type="text/javascript">
             function findTotal(){
                 var arr = document.getElementsByName('total');
                 var tot=0;
                 for(var i=0;i<arr.length;i++){
                     if(parseInt(arr[i].value))
                     tot += parseInt(arr[i].value);
                 }
                 document.getElementById('totalsum').value = tot;
             }
         </script>
             
    </head>
    
    
   <div class="w3-container w3-black">
        <h1>Laudromat</h1>
   </div>
                    
    <body>
        
        <div class="w3-container w3-teal w3-half style="margin:46px; margin-top:46px" >
        
        <div class="slider-vertical"></div>
        <div id="purhcaseForm">
        
  


            {% for n in priceList %}


            <form id="purchase">
                <label class="w3-label w3-large w3-text-black"><b>"{{n}}"</b></label>
                <br> Item Price: ${{n}}
                <br> Please Select Quantity
                <input type='button' name='subtract' onclick='TotalItem("qty{{loop.index}}",-1,"total{{loop.index}}",{{n}}); findTotal();' value='-'/>
                <input type='button' name='add' onclick='TotalItem("qty{{loop.index}}",1,"total{{loop.index}}",{{n}}); findTotal();' value='+'/>
                <input type='text' name='qty' id='qty{{loop.index}}' readonly=true value="0"/>
                <input type='text'   name='total' id='total{{loop.index}}' value="0" />
                
            </form>

            {% endfor %}
            <br>
            
            <form id="purchase" class="w3-row">
            
                <label class="w3-label  w3-large w3-text-white"><b>Total</b></label>
                 <input class="w3-input w3-border " type="text" name="totalsum" id="totalsum">
           
                     <p class="w3-center ">
                      <button class="w3-btn w3-margin w3-light-grey w3-large w3-ripple"> Place order</button>
                       </p>
                      </form>
                    </div>
        </div>
        

        </div>
        
        <div class="w3-half w3-container style="margin-top:306px">
       <div class="w3-topbar w3-border-orange w3-padding-top" style="margin-top:30px" >
           <img src="/static/images/restau01_mini.jpg" style="width:50%">
      <h2>Laundromat1</h2>
      <p>116th Broadway</p>
      <p>New York NY 10025</p>
      <div class="rating">
          {% for n in range(5) %}
          <span>★</span>
          {% endfor %}
          
      </div>


        </div>
      
      <br><br> <br><br> <br><br>
      <!-- Display laundromat-->
      <div class="w3-container w3-blue style="margin:46px" >
          <h2>Customer reviews</h2>
          
          <ul class="w3-ul w3-card-1  w3-white style="max-width:200px">
          {% for n in range(5) %}
          <li class="w3-padding-16">
              <img src="/static/images/restau03_mini.jpg" class="w3-left w3-circle w3-margin-right" style="width:60px">
                  <span class="w3-large"><a href="L1">502 W 113th St</a></span><br>
                  <div class="rating">
                      {% for n in range(5) %}
                      <span>★</span>
                      {% endfor %}
                      
                  </div>
                  </li>
          {% endfor %}
          </ul>
      </div>
      <div class="w3-container w3-blue style="max-width:200px">
          <H5> End </H5>
          </div>
       
    </body>
</html>