<!DOCTYPE html>
<html></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
                    <style>
                        body {font-family: "Lato", sans-serif}
                        .mySlides {display: none}
                        </style>
                        <div class="w3-top">
                            <ul class="w3-navbar w3-black w3-card-2 w3-left-align">
                                <li class="w3-hide-medium w3-hide-large w3-opennav w3-right">
                                    <a class="w3-padding-large" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
                                </li>
                                <li><a href="/" class="w3-hover-none w3-hover-text-grey w3-padding-large">HOME</a></li>
                                <li class="w3-hide-small"><a href="/logout" class="w3-padding-large">Log out</a></li>
                            </ul>
                        </div>
                                            
<br><br>
<div class="w3-container w3-blue">
    <h1>User Profile</h1>
</div>



<div class="w3-content w3-margin" style="max-width:1400px;">
    
    <!-- The Grid -->
    <div class="w3-row-padding">
        
        <!-- Left Column -->
        <div class="w3-third">
            
            <div class="w3-white w3-text-grey w3-card-4">
                <div class="w3-display-container">
                    <img src="/static/images/user.jpg" style="width:100%" alt="Avatar">
                        </div>
                <div class="w3-container">
                    
                    <form action="get">
                    <p><i class="fa fa-user fa-fw w3-margin-right w3-large w3-text-teal"></i>{{my_list[0][0]}} {{my_list[0][1]}} </p>
                    <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>{{my_list[0][4]}} {{my_list[0][5]}} {{my_list[0][6]}} {{my_list[0][7]}} {{my_list[0][8]}} </p>
             
                    <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>{{my_list[0][2]}}</p>
                    <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>{my_list[0][3]}}</p>
                    <hr>
                    </form>
            
            <!-- End Left Column -->
            </div>
                </div>
        </div>
        
        <!-- Right Column -->
        <form method="get">
        <div class="w3-twothird">
            
            <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-calendar fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Order history</h2>
                
                {% for n in orders %}
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>Order ID: {{n[0]}}</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-money fa-fw w3-margin-right"></i>Order total: ${{n[1]}}</h6>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Transation time: {{n[3]}}</h6>
                      <h6 class="w3-text-teal"><i class="fa fa-bank fa-fw w3-margin-right"></i>Order Status: {{n[2]}}</h6>
                    <hr>
                </div>
                {% endfor %}
                            <!-- End Right Column -->
        </div>
        
        <!-- End Grid -->
    </div>
        </form>
    
    </div>









</div>

</html>